.client-text {
    font-weight: bold;
    color: blue;
}

.internet-text {
    text-transform: lowercase;
}

.browser-text {
    font-style: italic;
    color: orange;
}

.server-text {
    color: red;
}
.p {
    font-size: large;
    color: blue;

}